<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Navigation Fragment</title>
</head>
<body>
<nav th:fragment="adminSidebar(adminId)" class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/admin/' + ${adminId}}">
                    Personal Information
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/admin/' + ${adminId} + '/users'}">
                    View Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/admin/' + ${adminId} + '/payments'}">
                    Payments
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/admin/' + ${adminId} + '/health-insurance'}">
                    Health Insurance Payments
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
