<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation Fragment</title>
</head>
<body>
<nav th:fragment="sidebar(studentId)" class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{'/student/' + ${studentId}}">
                    Information
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/student/grades/' + ${studentId}}">
                    Grades
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/student/weekly-schedule/' + ${studentId}}">
                    Weekly schedule
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/student/exams/' + ${studentId}}">
                    Exams
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/student/exams/' + ${studentId}}">
                    Exams
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/student/payments/' + ${studentId}}">
                    Payments
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{'/student/dormitory/' + ${studentId}}">
                    Dormitory
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{'/student/payments/health-insurance/' + ${studentId}}">
                    Health insurance
                </a>
            </li>
        </ul>
        <ul class="nav flex-column nav-bottom">
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    Log out
                </a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>